#Liste des fichiers et dossiers à ignorer par git

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Compilation C++
build/
*.o
*.out
*.exe
*.a
*.dylib

# IDEs et Éditeurs
compile_commands.json
.vscode/
.idea/
*.swp
*~