#Liste des fichiers et dossiers à ignorer par git

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Compilation C++
build/
*.o
*.out
*.exe
*.a
*.dylib

# IDEs et Éditeurs
compile_commands.json
.vscode/
.idea/
*.swp
*~